.cls6 {
    border:3px solid #09243d;
    padding:5px;
    margin:25px;
    background-color: honeydew;
    border-radius:10px;
    padding-bottom: 20px;
    padding-left: 30px;
    
}

#id1 {
    color:green;
    margin: 25px;
    border: 3px solid #543215;
    padding: 2px; 
    font-size: 50px; 
    border-radius: 15px; 
}

.cls5 {
    border : 8px dashed #09243d;
    text-align: center;
    padding: 2px;
    margin:auto;
    width:30%;
    background-color: honeydew;
    border-radius: 8px;
}

.cls7 {
    border:5px dashed #09243d;
    background-color: honeydew;
    border-radius: 20px;
    margin:auto;
    padding-top:20px;
    padding-left:40px;
    width:30%;
}
body {
    background-color: lightgray;
    font-size: 120%;
}

.cls1 {
    float:left;
    width:35%;
}

.cls4 {
    text-align: center;
    color:orangered;
    font-size: 200%;
}

.cls3 {
    text-align: center;
    padding:5px;
    margin:2px;
    padding-bottom: 10px;
}
.btn1 {
    font-size: 25px;
    border :2px double #09243d;
    border-radius: 10px;
}
